#container{width: 720px;
  text-align: justify;
  background-color: green;
  margin: auto;}

body {background-color: #cccccc;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;}

p::first-letter{color:blue;
   font-weight: bold;
   font-size: 38px;
   font-family: Times New Roman;}

#content{width: 520px;
height: 300px;
float: left;
background-color: #fff;}

#nav{width: 200px;
height: 300px;
float: left;
background-color: #e7e7e7;}

#header{height:50px; 
background-color:#b0b0b0;}



